# Скопировать на сервер: /etc/default/poverka48-tg-proxy

TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_CHAT_ID=-3752788353

SITE_NAME=poverka-48.ru
DEFAULT_CITY=Липецк

TG_LISTEN_HOST=127.0.0.1
TG_LISTEN_PORT=3378

TG_PROXY_TYPE=http
TG_PROXY_HOST=89.34.106.169
TG_PROXY_PORT=8410
TG_PROXY_USER=user391172
TG_PROXY_PASS=1c5jnf
